<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
            <div class="container">
                    <h3>Editar Productos</h3>
                    
                    <form method="POST" action="/productos/<%= product.id %>?_method=put" enctype="multipart/form-data">
                        <div class="row">
                            <div class="input-field col s8">
                                <input id="title" type="text" name="title" class="validate" value="<%= product.title %>">
                                <label for="title" ></label>                              
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s8">
                                <label></label>
                                <textarea name="description" cols="30" rows="2"><%= product.description %></textarea>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s8">
                                <label></label>
                                <input type="text" name="pricing" value="<%= product.pricing %>">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s8">
                                <label></label>
                                <input type="text" name="categoria" value="<%= product.categoria %>">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="file-field input-field col s8">
                                <div class="btn orange accent-3">
                                    <span>Imagen</span>
                                    <input type="file" name="imageUrl">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>                                                 
                            </div>
                        </div>
                        
        
                        <div class="row">
                            <div class="input-field col s8">
                                <label></label>
                                <input type="password" name="password" placeholder="Contraseña">                               
                            </div>
                        </div>
                        
                        <div>
                            <button class="btn orange accent-3" type="submit">Guardar</button>
                        </div>
                    </form>
                    <br>
                        <img src="<%= typeof file != 'undefined' ? file : '' %>">
                        <%= typeof title != 'undefined' ? title : '' %>
                </div>
        
                <script
                    src="https://code.jquery.com/jquery-3.2.1.min.js"
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                    crossorigin="anonymous">
                </script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>

